# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfvars
*.tfvars.json
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Logs
*.log

# Local secrets
my_password.txt

# Terraform CLI config
.terraformrc
terraform.rc